page-login {
.loginContent{
   margin: 0 auto;
   width: 100%;
}

// HEADER SECTION //
.logo{
    margin:123.5px 0 76.5px 0 !important;
    max-width:57.8%;
    height:auto;
   
    text-align: center;
}

.loginTitle{
    padding: 0 !important;
     margin-bottom: 20px;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    color: #8f9296;
  //  position: relative;
   // left: 42px;
  
    font-weight: normal;
   
}
.logoImage{
    width: 100%;
    text-align: center;
    margin: 0 !important;
}




// INPUT SECTION //
.loginInput{
    padding-left: 20px;
    border-radius: 36px;
    min-height: 35px;
    max-width:290px;
    margin:0 0 20px 0; 
    font-size: 15px;
    font-weight: normal;
}
.conatiner{
    margin: 0 11.3%;
}
// LOGIN BUTTON and FORGOT PASSWORD SECTION //
.page-button{
    font-size: 15px;
    width:290px;
    border-radius: 36px;
    margin:0 0 15px 0; 
    min-height: 35px;
    color: #fff;
    border:none;
    font-weight: lighter;
    background: #00667f;
}

.forgotPassword{
    text-align: left;
    font-size: 15px;
    color: #0099cc;
    //position: relative;
    //left: 11.3%;
    margin:0;
}

// FOOTER SECTION //
.footer{
    font-size: 10px;
    color: #8f9296;
    text-align: center;
    margin: 50% 0 9.1% 0;
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.text-input{
    margin: 0 !important;
}
}
