page-login {
.loginContent{
   margin: 0 auto;
   width: 100%;
}

// HEADER SECTION //
.logo{
    
    max-width:57.8%;
    height:auto;
    margin:37% 21% 11.4% 21%;
    text-align: center;
}

.loginTitle{
    padding: 0 !important;
    margin: 0 0 20px 0 !important;
    font-size: 20px;
    color: #8f9296;
    position: relative;
    left: 42px;
    width:26%;
    font-weight: normal;
   
}
.logoImage{
    width: 100%;
}




// INPUT SECTION //
.loginInput{
    padding-left: 20px;
    border-radius: 36px;
    min-height: 35px;
    width:77%;
    margin:0 63px 15px 11.3%; 
    font-size: 15px;
    font-weight: normal;
}

// LOGIN BUTTON and FORGOT PASSWORD SECTION //
.page-button{
    font-size: 15px;
    width:77%;
    border-radius: 36px;
    margin:5px 63px 20px 11.3%; 
    min-height: 35px;
    color: #fff;
    border:none;
    font-weight: lighter;
    background: #00667f;
}

.forgotPassword{
    text-align: left;
    font-size: 15px;
    color: #0099cc;
    position: relative;
    left: 11.3%;
    margin:0;
}

// FOOTER SECTION //
.footer{
    font-size: 10px;
    color: #8f9296;
    text-align: center;
    margin: 36.9% 0 8.9% 0;
}

.text-input{
    margin: 0 !important;
}
}
