<ion-content>

<div class="subHeader">
    <p class="button-clear"  (click)="goBack()">
        <i class="fa fa-chevron-left" aria-hidden="true"></i>Change Password
    </p>
</div>
<div>

    <p class="passwordLogo"><i class="fa fa-lock icon passwordChange"></i></p>
   <div class="passwordContainer"> 
       <p class="passwordgudlines"><span>Note:</span>Minimum of 6 characters with one lowercase,uppercase,one digit and must have at least a one special characters- “!,#,$,%,&,*,(,),+”
     </p> 
   </div>
   <div class="formContainer">

 
<form class="formFields"#f="ngForm"  (ngSubmit)="f.valid && changePassword(f)">
        <div class="passwordInput">
                <label> Old Password</label>
        <input type="password" placeholder="Enter new password" name="oldPassword" [(ngModel)]="oldPassword" #oldPasswordValid = ngModel required/>
        <div  class="usernameRequirement" class="error" *ngIf ="oldPasswordValid.touched && !oldPasswordValid.valid">
            Old Password is required
          </div>
        </div>
    <div class="passwordInput">
            <label> New Password</label>
    <input type="password" placeholder="Enter new password" name="newPassword" [(ngModel)]="password" #newPasswordValid = ngModel  required/>
    <div  class="usernameRequirement" class="error" *ngIf ="newPasswordValid.touched && !newPasswordValid.valid">
        Password is required and follow the requirement.
      </div>
    </div>

    <label> Confirm Password</label>
    <input class="newPassword" type="password" placeholder="Re-enter new password" name="reenterNewPassword" [(ngModel)]="reenterPassword" #reenterPasswordValid = ngModel required/>

          <div  class="usernameRequirement" class="error" *ngIf ="reenterPasswordValid.touched && !reenterPasswordValid.valid">
        Confirm your password
      </div>
      <ng2-password-strength-bar
      [passwordToCheck]="password"
      [barLabel]="barLabel"
      [barColors]="myColors"
      class="passwordValidator">
    </ng2-password-strength-bar>
    <div class="btn-field-org">
            <button type="submit" class="btn btn-default sub" [disabled]=f.invalid >Submit</button>
            <button type="button" (click)="skip()" class="btn btn-default can">Cancel</button>
    </div>
</form>
</div>   
</div>
</ion-content>