.header{
    margin: 0;
    padding: 0 0 0 0px;
    max-height: 44px !important;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.ion-navbar{
    max-height: 44px;
}
.logoTitle{
    padding: 0 !important;
    display: inline-block;
    width: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.mainLogo{
    max-width: 87px;
    height: 26px!important;
 
}
.flex-container{
 display: flex;
 justify-content: space-between;
 align-items: center;
 margin-top: -10px;

}
.badge{
    font-size: 10px !important;
}
.profile{
    float: right;
 }
.userDetails{
    display:inline-block;
    margin: 0 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.avatar{
    max-width: 100% !important;
    display:inline-block;
    width:30px;
}
ion-avatar.userDetails:after {
    content: "\f078";
    font-family: FontAwesome;
    //font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #888684;
    font-size: 9px;
}

.notification-icon {
    float: right;
    position: relative;
  
   // font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.platform-android .profile {
    padding-top: 9px;
    
}
.tabbar {
    display: none;
}
.fixed-content,
.scroll-content{
    margin: 0px !important;
    top: 23px;
}
.menuButton{
    margin: 0 0px 5px 15px !important;

    max-width: 24px;
    background-color: transparent;
    max-height: 18px;
    color: #00667f;
    font-size: 25px !important;
    font-weight: normal;
    
}
.flex-container button{
    background-color: transparent;
}
ion-menu{
    top: 21px !important;
}
menu-inner{
    width: 360px;
}