.header{
    margin: 0;
    padding: 0 0 0 0px;
    max-height: 44px !important;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.ion-navbar{
    max-height: 44px;
}
.logoTitle{
    padding: 0 !important;
    display: inline-block;
    width: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.mainLogo{
    max-width: 87px;
    height: 26px!important;
 
}
.flex-container{
 display: flex;
 justify-content: space-between;
 align-items: center;
 margin-bottom: 4px;
}
.badge{
    font-size: 10px !important;
}
.profile{
    float: right;
 }
.userDetails{
    display:inline-block;
    margin: 0 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.notification-icon {
    float: right;
    position: relative;
  
   // font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.platform-android .profile {
    padding-top: 9px;
    
}
.fixed-content,
.scroll-content{
    margin: 0px !important;
    top: 23px;
}
.menuButton{
    margin: 0 0px 0px 5px !important;
    max-width: 24px;
    background-color: transparent;
    max-height: 18px;
    color: #00667f;
    font-size: 25px !important;
    font-weight: normal;
    
}
// .flex-container button{
//     background-color: transparent;
// }
.ios .menu-inner{
    // width: 360px ;
    background-image: url(../assets/imgs/BG.png) !important;
   background-size:cover;
  
}
.md .menu-inner{
    background-image: url(../assets/imgs/BG.png) !important;
    background-size:cover;
}
.menuContent{
    color: #000;
    float: left;
}
.menu-inner .item{
    background: none;
}
.profileMenu{
    background: transparent;
    border: none;
    margin: 62.5px 0 0 0;
    box-shadow: none;
    width: 100%;
    border-bottom: 1px solid gainsboro;
  
}
.profileMenu p{
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    max-width:100%;
}
.profilePic{
    max-height: 100px !important;
    max-width: 100px !important;
    border: none;
    margin: 0 auto; 
    vertical-align: middle;
    padding: 0;
  }
  .profileMenu .item .item-inner{
      width: 100%;
      padding: 0;
  }
  .profileMenu ion-item{
      margin-bottom: 56.5px;
  }
  .buttonsProfile{
      margin: 0;
      padding:0;
      width: 100%;
      background: transparent;
      color: #2392ac;
      font-size: 17px;
      min-height: 55px;
      text-align: left;
      border: none;
      border-bottom: 0.25px solid gainsboro;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  .buttonsProfile i{
      margin: 0 15px;
      font-size: 24px;
  }
  .termsConditions{
      margin-top: 157px;
      color: #2392ac;
  }
  .termsConditions span{
    color: #2392ac;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  .termsConditions p{
      color: #fff;
      text-align: center;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      margin-bottom: 15px;
  }
 