<ion-content>
        <form class="formFields"  >
    <div class="subHeaderProfile">
        <p class="button-clear" (click)="goBack()">
            <i class="fa fa-chevron-left" aria-hidden="true"></i>Profile
        </p>
      
        <p class="editOption" id="editOption"  (click)="enableEdit()">Edit</p>


        <ion-card class="profileMenu" >
        
            <ion-item no-margin no-padding (click)="getPhoto()">
              
                <!-- <input class="profilePic"  type="file" name="userFile" /> -->
                <img class="attendeePhoto" src="http://10.242.251.141:8080/{{ imgPreview }}" >
                <!-- <img class="profilePic" src="assets/imgs/profilepic_female.png"> -->
                <!-- <i class="fa fa-camera cameraIcon" aria-hidden="true"></i> -->
               
            </ion-item>
        </ion-card>
    </div>
    <div class="clear-fix"></div>
 
        <div class="fromConatiner" *ngIf="attendeeDetails" >
            <label>Name</label>
            <input type="text" [disabled]="!editOption" [value]="attendeeDetails.name" name="attendeeName" [(ngModel)]="attendeeName" #attendeeNameValid=ngModel
                required/>
            <!-- <div class="usernameRequirement" class="error" *ngIf="newPasswordValid.touched && !newPasswordValid.valid">
            Password is required
        </div> -->

            <label> Email</label>
            <input type="email" [disabled]="!editOption" [value]="attendeeDetails.email" name="attendeeEmail" [(ngModel)]="email" #attendeeEmailValid=ngModel
                required/>
            <!-- <div class="usernameRequirement" class="error" *ngIf="newPasswordValid.touched && !newPasswordValid.valid">
            Password is required
        </div> -->

            <label> Contact Number</label>
            <input type="tel" [disabled]="!editOption" [value]="attendeeDetails.contactNumber" name="attendeeTel" [(ngModel)]="attendeeTel" #attendeeTelValid=ngModel
                required/>
            <!-- <div class="usernameRequirement" class="error" *ngIf="newPasswordValid.touched && !newPasswordValid.valid">
            Password is required
        </div> -->
            <p>Change Security Question</p>
            <label>Security Question</label>

            <ion-select name="securityQuestion" [disabled]="!editOption" id="securityDropDown" [(ngModel)]="securityQuestion" 
                class="securityDropDown" [attr.value]="attendeeDetails.quesAns.Question">
                <ion-option class="dropDownOptions " selected hidden disabled>Select a question</ion-option>
                <ion-option [disabled]="!editOption">What is the name of your first pet?</ion-option>
                <ion-option [disabled]="!editOption">What is favourite car to ride? </ion-option>
            </ion-select>

            <label> Your Answer</label>
            <input type="password" [disabled]="!editOption" placeholder="Enter the security answer" name="reenterNewPassword" [(ngModel)]="securityAnswer" />
            <!-- <div class="btn-field-org" [hidden] = "!editOption">
                <button type="submit" class="btn btn-default sub" [disabled]=f.invalid>Save</button>
                <button type="button" (click)="skip()" class="btn btn-default can">Cancel</button>
            </div> -->

        </div>
    </form>
</ion-content>