page-profileDetails{
    fixed-content, .scroll-content {
        margin: 0px !important;
        top: 0px;
    }
background-color: #fff;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
.subHeaderProfile .button-clear{
    font-size: 17px;
    margin: 20px  0  10px 0!important;
    vertical-align: middle;
    color: #000;
    float: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    padding: 0px 0px 0 0 !important;
}
.editOption{
    font-size: 16px;
    margin: 23px  12px  0px 0!important;
    //line-height: 1;
    color: #00677f;
    float: right;
    background-color: transparent;
    vertical-align: middle;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    padding: 0 !important;
}
.subHeaderProfile .button-clear i{
    font-size: 22px;
    color: #00677f;
    font-weight: normal;
    padding: 0 25px 0 10px;
    margin: 0 !important;

}
.profileMenu{
    margin: 90px 0 0 0;
    border: none;
  
}
.error{
    color: red;

}
.profileMenu .label{
    margin: 0;
    padding: 0;
}
.profileMenu .item, .profileMenu ion-item{
    margin: 0;
    padding: 0;
    position: relative;
}
.securityDropDown .select-icon .select-icon-inner{
    color: #00677f;
    left: 0px;
}
placeholder{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    font-weight: normal;
    color: #999 !important;
    border: 1px solid #d3d3d3  !important;
    background-color: #f1f0f0;
}
.btn-field-org{
    background-color: #fff;
    margin: 20px 0 40px 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    //padding: 0 0 10px 0 ;
    text-align: center;

}
.btn-field-org .sub, .btn-field-org .can{
    border-radius: 25px;
    font-size: 1em;
    width: 80%;
    height: 40px;
    padding-top: 5px;
    margin: 10px 0 0 0;
}
.btn-field-org .sub{
    background-color: #00677f;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-right: 1%;
}
.btn-field-org .can{
    border: 1px solid #00677f;
    color: #00677f;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #fff;
}
.clear-fix{
    clear: both;
}
.subHeaderProfile{
    min-height: 31px;
    min-width: 100%;
    float: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.fromConatiner{
    margin:60px 25.5px 0 25.5px;
}
ion-card img{
 
    display: inline;
}
.attendeePhoto{
    border-radius: 50%;
    width: 100px;
    height: 100px;
}
input{
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 21px;
    font-size: 15px;
    color: #999;
    font-weight: normal;
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    background-color: #f1f0f0;
    padding: 5px;
}
label{
    margin-bottom: 11px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: normal;
    font-size: 16px;
    color: #333;
}
.fromConatiner p{
    margin: 45px 0 15px 0;
    color: #000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 16px;
}
.securityDropDown{
    max-width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0 0 21px 0;
    font-size: 15px;
    color: #999;
    font-weight: normal;
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    background-color: #f1f0f0;
    padding: 5px;

}
.select-disabled, .item-select-disabled ion-label{
    opacity:1;
}
.profileMenu .cameraIcon{
    position: absolute;
    top: 62.23%;
    right: 40.22%;
    color: #00677f;
    font-size: 25px;
}
.item-cover {
    width: 0;
    height: 0;
    }
}