<ion-content padding class="mainContainer" *ngIf="visitDetails">
  <div class="sessionDetailsPurpose">
   
   <p pull-left ><i pull-left class="fa fa-angle-left" aria-hidden="true"(click)="goBack()"></i>{{visitDetails.purpose}}</p>
  </div>
  <div class="sessionDeatils">
    <p>Session Details</p>
 <div class="visitingLocations">
   <p>Visiting Location: <span>{{agendaData.visitLocation[0]}},{{agendaData.visitCity[0]}}</span></p>
   <p>Meeting Rooom: <span>{{agendaData.agenda_meetingRoom}}</span></p>
 
 </div>
  <div class="details">
    <p class="timings">{{agendaData.from}} - {{agendaData.to}}</p>
    <p>{{agendaData.topic}}</p>
  </div>
 <div class="presenterDeatils">
   <ion-card no-border class="prsenterCard">
     <ion-card-header class="presenterHeader">
       Presenters
     </ion-card-header>
       <ion-item no-border class="preseneterColumn" *ngFor="let presenters of agendaData.agenda_POC; let i =index;">
         <ion-avatar class="avatarPresenter" item-start>
           <img src="http://10.242.251.141:8080/{{presenters.pic}}">
         </ion-avatar>
         <h2>{{presenters.name}}</h2>
         <p no-box-shadow>{{presenters.designation}}</p>
       </ion-item>
      
   </ion-card>
 </div>
 <div class="presentationDocument">
<!--    
    <span>Presentation</span> 
   <p>

      <i class="fa fa-file-powerpoint-o" aria-hidden="true"></i>
      Digital UX Presentation
   </p> -->
   <div class="btn-field-org">
      <button type="button" class="btn btn-default sub" (click)="openModal(visitDetails.purpose,agendaData)">Provide Presenter Rating</button>
     
</div>
 </div>
 
 
  </div>

 </ion-content>