page-rootmodule{
.popOverDisplay .label{
    width: 150px !important;
    color: #2d2926 !important;
    font-size: 15px !important;
    border: none !important;
    text-align: left;
    margin: 0 !important;
    border: 0 !important;
    font-weight: bold !important;
    padding: 0 !important;
    }
.list  {
    padding: 2.5px 0 !important;
    font-size: 15px;
    color: #2d2926 !important;
    margin: 0 !important;
    border: 0 !important;
}
.popover-content{
    width: 245px !important;
    min-height: 245px !important;
} 
.user-icon{
    padding-left: 20px !important;
    padding-right: 20px !important;
}
.log-out{
    padding-left: 20px !important;
    padding-right: 20px !important;   
}
.help-icon{
    padding-left: 20px !important;
    padding-right: 20px !important; 
}
ion-list .manager-name{
background-color: #f5f5f5 !important;
}
.manager-name{
font-family: 'Segoe UI' !important;
font-size: 26px #808080 !important;
font-weight: 400 !important;
}

// top: 38.0313px;
// left: 155px;
// transform-origin: right top 0px;
// width: 220px;
}