page-rootmodule{
         padding: 0;
        margin: 0;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   
    .popOverDisplay .label{
        width: 245px !important;
        color: #2d2926 !important;
        font-size: 15px !important;
        border: none !important;
        text-align: left;
        margin: 0 !important;
        border: 0 !important;
        font-weight: bold !important;
        padding: 0 !important;
   }
    .list {
        //padding: 2.5px 0 !important;
        font-size: 15px;
        color: #00667f;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin: 0 !important;
        border: 0 !important;
        height: 43px !important;
        border-bottom: 0.55px solid gainsboro !important;
   }
  
    .log-out{
        padding-left: 20px !important;
        padding-right: 20px !important;
        color: #00667f;
        font-size: 21px;
        padding-top: 10px;
   }
    .icon{
        padding-left: 20px !important;
        padding-right: 20px !important;
        color: #00667f;
        font-size: 21px;
        padding-top: 10px;
   }
    .managerName{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     
        font-size: 15px !important;
        color: #000 !important;
        font-weight: 400 !important;
        border-bottom: 0.55px solid #808080 !important;
        background-color: #f5f5f5;
        min-height: 38px !important;
        padding: 12px 0 10px 20px !important;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
   }
}
