<!-- <ion-nav id="nav"  [root]="pageNavigation"></ion-nav> -->
<ion-content class="container">
  
  <div class="visits">
    <div class="myVisitHeader">
      <h4> My Visit</h4>
      <span class="daysLeft">
        <i class="fa fa-star" aria-hidden="true"  *ngIf="daysRemaining"></i>
         &nbsp;{{ daysRemaining }}
      </span>
    </div>
    <ion-list class="list listMyVisit"  style="  background: url(assets/imgs/Panel_BG.png);background-size: cover;">
   <div class="clearLeft"></div>
        <p *ngIf="!firstVisit"  class="noUpcomingVisitsfuture">No Upcoming Visits.</p>
      
        <ion-item class="presentItem" *ngIf="firstVisit">
          <div class="presentContent" item-content>
            <ion-card class="presentCard">
              <ion-card-header  class="presentVisitHeading">
                {{ firstVisit.purpose }}
              </ion-card-header>
              <ion-card-content>
                <div>
                  <div>
                    <p>
                      <i class="fa fa-calendar fa-lg icon-color calendar"></i>
                      <span class="daysCount"> {{ firstVisit.startDate | date : "d" }}<sup class="subScript">{{firstVisit.startSuperScript}} </sup>{{firstVisit.startDate | date : "MMM"}} - {{ firstVisit.endDate | date : "d" }}<sup class="subScript">{{ firstVisit.endSuperScript }} </sup> {{ firstVisit.endDate | date : "MMM"}} </span> | {{firstVisit.noOfDays}} Day(s)</p>
                  </div>
                  <div>
                    <p>
                      <i class="fa fa-map-marker fa-lg icon-color location" aria-hidden="true"></i>
                      <span class="daysCount"> Cognizant - {{ firstVisit.visit_locations[0].country }}</span> | {{ firstVisit.visit_locations[0].city }} - {{ firstVisit.visit_locations[0].visitingLocation }}</p>
                  </div>
                </div>
                
              </ion-card-content>
              <button class="viewDetails" (click)="goToAgenda(firstVisit._id,firstVisit)"> View Details
              </button>
            </ion-card>
          </div>
        </ion-item>
     
      </ion-list>
        
      


  </div>
 

  <div class="visitsPast"  >
    <div class="pastVisitHeader">
      <h4>Past Visits</h4>
      <div class="closed">
        <i class="fa fa-circle circle" aria-hidden="true"></i>Closed</div>
    </div>
    <div class="clearLeft"></div>
    <p *ngIf="!pastVisits.length" class="noUpcomingVisits" >No Past Visits.</p>

    <ion-list class="list" *ngIf="pastVisits">
       
      <ion-item class="pastItem" *ngFor="let visits of pastVisits;let i =index;">
        <div class="pastContent" item-content>
          <ion-card class="pastCard">
            <ion-card-header class="pastVisitHeading">
              {{visits.purpose}}
              <button class="pastView" (click)="goToAgenda(visits._id,visits)"> View 
                <i class="fa fa-angle-right fa-lg arrowRight" aria-hidden="true"></i>
              </button>
            </ion-card-header>
            <ion-card-content>
              <div>
                <div>
                  <p class="noOfDaysPast">
                    <i class="fa fa-calendar fa-lg icon-color calendar"></i>
                    <span class="daysCountPast">   
                        {{visits.startDate | date : "d"}}<sup class="subScript">{{visits.startSuperScript}}</sup> {{visits.startDate | date : "MMM"}} - {{visits.endDate | date : "d"}}<sup class="subScript">{{visits.endSuperScript}}</sup> {{visits.endDate | date : "MMM"}}</span> | {{visits.noOfDays}} Day(s)
                  </p>
                </div>
                <div>
                  <p class="daysCountPast">
                    <i class="fa fa-map-marker fa-lg icon-color location" aria-hidden="true"></i>
                    <span class="daysCountPast"> Cognizant- {{visits.visit_locations[0].country}}</span> | {{visits.visit_locations[0].city}} - {{visits.visit_locations[0].visitingLocation}}</p>
                </div>
              </div>
            </ion-card-content>
            <button class="viewDetails" (click)="goToSessionFeedback(visits)"> Provide Feedback
            </button>
          </ion-card>
        </div>
      </ion-item>
       </ion-list>
  </div>

    <ion-fab middle right (click)="openChat()"
     >
      <button ion-fab>Chat</button>
    </ion-fab>

</ion-content>