

<div class="notificationHeader clearfix" *ngIf="allNotification" >
    <i class="fa fa-angle-left backArrow" aria-hidden="true" (click)="goBack()"></i>
    <p class="heading pull-left">Notifications ({{ notificationsUnread.length }})</p>
    <!-- <p class="notificationRead pull-right" >Mark all as Read</p> -->
</div>
<div class="notificationContainer" >
    <ul id="notification-list">
        <li class="{{notification.read_flag==1?'read':'unread'}}" *ngFor="let notification of notifications; let i =index;" (click)="gotoAgenda(notification)">
            <p class="notificationName pull-left">{{notification.title}}</p>
            <p class="notificationTime pull-right" *ngIf=" notification.periodAgo">{{notification.periodAgo}}</p>
            <p class="notificationContent">{{notification.description}}</p>
        </li>
     </ul>
     <div *ngIf="!allNotification" > 
            <p>No Notification</p>
     </div>
</div>
