<ion-header class="header">
    <ion-navbar>
      <ion-title class="logoTitle">
        <img class="mainLogo" src="assets/imgs/logo1.png" (click)="goBack()">
      </ion-title>
      <div class=profile>
        <i class="fa fa-bell-o notifiation " (click)="notificationPopover()" aria-hidden="true"></i>
        <span class="badge count">02</span>
        <ion-avatar class="userDetails" (click)="presentPopover($event)" item-start>
          <img class="avatar" src="assets/imgs/profilepic_male.png">
        </ion-avatar>
      </div>
    </ion-navbar>
</ion-header> 
<ion-content >
<div class="notificationHeader clearfix">
    <i class="fa fa-chevron-left backArrow" aria-hidden="true" (click)="goBack()"></i><p class="heading pull-left">Notifications</p>
    <p class="notificationRead pull-right" (click)="notificationRead()">Mark all as Read</p>
</div>
<div class="notificationContainer" *ngIf="notifications" >
    <ul id="notification-list">
        <li class="{{notification.read_flag==1?'read':'unread'}}" *ngFor="let notification of notifications; let i =index;" (click)="gotoAgenda(notification.visitId)">
            <p class="notificationName pull-left">{{notification.title}}</p>
            <p class="notificationTime pull-right" *ngIf=" notification.periodAgo">{{notification.periodAgo}}</p>
            <p class="notificationContent">{{notification.description}}</p>
        </li>
        <!-- <li>
            <p class="notificationName">Cognizant's Digital Capabilities</p>
            <p class="notificationContent">Account Manager created a new visit</p>
            <p class="notificationTime">7 hours ago</p>
        </li> -->
    </ul>
</div>
</ion-content>