<ion-content padding class="mainContainer" *ngIf="visitDetails" no-border>
  <div ng-disabled="clicked">
    <div class="subHeader">
      <p class="button-clear" ng-disabled="clicked" (click)="goBack()">
        <i class="fa fa-angle-left" aria-hidden="true"></i>{{visitDetails.purpose}}
      </p>
      <div class="locationDetails" >
      <div class="companyConatiner">
        <span class="company">Cognizant</span>
          <div class="visitDetaikls" *ngFor="let visitDetails of visitDetails.visit_locations; let i =index" >
             {{visitDetails.country}}, {{visitDetails.city}} - {{visitDetails.visitingLocation}}
          </div>
        </div>
    
        <p class="daysCount">
          <i class="fa fa-calendar fa-lg"></i>
          <span>{{visitDetails.startDate | date: "d"}}<sup class="subScript">{{visitDetails.startSuperScript}}</sup> {{visitDetails.startDate | date: "MMM"}} - {{visitDetails.endDate | date: "d"}}<sup class="subScript">{{visitDetails.endSuperScript}}</sup> {{visitDetails.endDate | date: "MMM"}}  </span> | {{visitDetails.noOfDays}} Day(s)
        </p>

      </div>
    </div>
  <div class="container">
<div class="agendaTabs">
    <ion-icon class="active" (click)="agendaTabsFunc(0)" id="agendaLink"><i aria-hidden="true" class="fa fa-list-alt"></i>Agenda</ion-icon> 
    <span class="separator">|</span>
    <ion-icon  (click)="agendaTabsFunc(1)" id="itenaryLink"><i aria-hidden="true" class="fa fa-file-text-o"></i>Itinerary</ion-icon>
</div>
    <div padding [class.hide]="!checkStatus"  class="routingContainer" *ngIf="agendaData" >
      
      <div class="xyz" *ngIf="agendaData">
        <ion-segment class="details" [(ngModel)]="details" >
          <ion-segment-button class="detailsHeader"  *ngFor="let x of agendaData.dayCount; let i = index" value="Day{{x}}" id="agendaDataIndex{{i}}" [ngClass]="{'active' : i === 0}" (click)="renderAgenda(i)" >
           Day {{x}}
          </ion-segment-button>
                   
        </ion-segment>
   
      </div>
      <!-- <div class="sezLocation"> 
          <p class="visitingLocationDetails"> 
           Visiting Location : <span>{{ agendaData[0].records[0].visitCity[0]  | uppercase |slice: 0:3 }} - {{ agendaData[0].records[0].visitLocation[0] }}</span>
          </p>
          <p class="meetingRoomDetails">
           Meeting Room: <span>{{ agendaData[0].records[0].agenda_meetingRoom[0] }}</span>
          </p>
      </div> -->
       
      <div [ngSwitch]="agendaChoice" *ngIf="agendaData">
        <div *ngFor="let agenda of agendaData; let i = index;" >
            <ion-list *ngSwitchCase="i">
              <!-- {{ agenda | json}} -->
                <div class="sezLocation"> 
                    <p class="visitingLocationDetails"> 
                     Visiting Location : <span>{{ agenda.records[0].visitCity[0]  | uppercase |slice: 0:3 }} - {{ agenda.records[0].visitLocation[0] }}</span>
                    </p>
                    <p class="meetingRoomDetails">
                     Meeting Room: <span>{{ agenda.records[0].agenda_meetingRoom[0] }}</span>
                    </p>
                </div>
                <ion-item>
                
                      <ion-list  class="dynamic" >
                          <ion-list item-start class="agendaList" *ngFor="let agendaDetails of agenda.records" (click)="openSessionDetails(agendaDetails)">
                             
                              <ion-item class="ionItem start">
                                <div class="profilesPresenters">
                                    <img class="presenterOne" src="http://10.242.251.141:8080/{{ agendaDetails.agenda_POC[0].imgUrl }}">
                               
                                </div>
                                <p class="timing"> {{ agendaDetails.from}} - {{ agendaDetails.to}}</p>
                                <p class="titleTopic">{{ agendaDetails.topic}} </p>
                              </ion-item>

                                <!-- <ion-item class="lunchBreak">
                                  <p class="timingLunch"> 12:00 PM - 13:30 PM </p>
                                  <p class="titleTopicLunch">Lunch Break </p>
                                </ion-item> -->
                              </ion-list>
                        </ion-list>
                </ion-item>
      
              </ion-list>
        </div>
         
            </div>
    </div>
 
<div [class.hide]="checkStatus" class="itinerary-container"  > 

  <ngb-accordion [closeOthers]="true"  #acc="ngbAccordion" activeIds="flightDetails-0"  >
    <ngb-panel   *ngFor="let flight of flightDetails; let i= index" title="{{ flight.from }} 
    ({{ flight.departureDate | date: MMM }})" id="flightDetails-{{i}}">
            <ng-template ngbPanelContent class="panelContent" >
              <div class="flightDetails" *ngIf="flightDetails">
              <p class="flightNumber">Flight Number : <span>{{flight.flightNumber}}</span></p>
              <div class="detailsContainer">
               <div class="flexConatiner">
              <p class="source pull-left"> {{flight.from}}</p>
              <div class="connectoresFlight">
              <span class="connectors pull-left ">--------</span>
              <i class="fa fa-space-shuttle pull-left flight" aria-hidden="true"></i>
              <span class="connectors pull-left">--------</span>
              </div>
              <p class="destination pull-right">{{flight.to}}</p>
            
              </div>
            
              <div class="clearfix"></div>
              <div class="flightTimings">
                  <p class="startingTime ">{{flight.arrivalDate | date:"dd"
                    }}<sup class="subScript">{{ flight.startSuperScript }}</sup> {{flight.arrivalDate | date:"MMM"
                  }},
                  <span> {{flight.arrivalTime}}</span> 
                  <span>(Arrival)</span>
                  </p>
            
                  <p class="reachingTime">{{flight.departureDate | date:"dd"
                    }}<sup class="subScript">{{ flight.endSuperScript }}</sup>  {{flight.departureDate | date:"MMM"
                  }}, 
               <span> {{flight.departureTime}}</span>  
               <span>(Departure)</span>
                </p>
              </div>
              <div class="clearfix"></div>
            
            </div>
              </div>
              <div *ngIf="!flightDetails">
                <p> No flight services available</p>
              </div>
            <div class="stay" > 
                <ion-card  class="stayDeatils" no-border *ngIf="hotelDetailsFlag">
                    
                      <ion-item class="hotelDetails" no-border>
                      
                        <h2>Your Stay at {{flight.to}}</h2>
                        <p class="hotelName">{{ flight.hotel.visit_HotelBooked[0].name }}</p>
                      <!-- //  <p class="distance">0.9 miles from Airport</p> -->
                      </ion-item>
                    
                      
                    
                      <ion-card-content class="imageHotel" no-border no-box-shadow no-padding> 
                       <img class="hotelPic" src="assets/imgs/hotel.JPG"> 
                    </ion-card-content>
                    
                      <ion-row no-border no-margin no-padding class="row">
                        
                     
                        <ion-col center text-center class="checkinDetails1">
                          <ion-note class="checkinDetails">
                           Check In & Check Out Dates:<span> {{flight.hotel.checkInDate | date: "dd"}}<sup class="subScript">{{flight.hotel.startSuperScript}}</sup>  {{flight.hotel.checkInDate | date: "MMM"}} - {{flight.hotel.checkOutDate | date: "dd"}}<sup class="subScript">{{flight.hotel.endSuperScript}}</sup> {{flight.hotel.checkOutDate | date: "MMM"}}</span>
                          </ion-note>
                        </ion-col>
                      </ion-row>
                    
                    </ion-card>
                    <div *ngIf="!hotelDetailsFlag">
                      <p>No hotel request raised</p>
                    </div>
                    <div class="airportTransfer" *ngIf="cabDetailsFlag">
                      <h6>Airport Transfer</h6>
                      <p>Pickup Info: {{ flight.cab.pickUpFrom}}, <span>{{ flight.cab.startDate | date: "d" }}<sup class="subScript">{{ flight.cab.startSuperScript }}</sup> {{ flight.cab.startDate | date: "MMM" }} | {{ flight.cab.arrivalTime }} </span></p>
                        <ion-card no-border no-padding class="airportMediator">
                            
                              <ion-item class="airportAsssitance" no-border no-margin no-padding >
                                <ion-avatar class="avtar" item-start>
                                  <img class="airportAssistancePic" src="assets/imgs/profile_picture.png">
                                  <!-- <img class="airportAssistancePic" src="http://10.242.251.141:8080/{{ agendaDetails.agenda_POC[0].imgUrl }}"> -->
                                </ion-avatar>
                                <h2>{{ flight.cab.POCName }}</h2>
                                <p>{{ flight.cab.POCContact }}</p>
                                </ion-item>
                                </ion-card>
                    </div>
                    <div *ngIf= "!cabDetailsFlag">
                      <p>No cab request raised</p>

                    </div>
            </div>
      </ng-template>
    </ngb-panel>
     
  </ngb-accordion>

  </div>

</div>
  </div>
</ion-content>