page-my-visit {
    
        padding: 0;
        margin: 0;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;       
    // HEADER SECTION // // AGENDA VIEW SECTION // 
    .mainContainer{
        float: left !important;
        width: 100%;
        padding: 0 0px !important;
        margin: 0 auto;
        top: 0px !important;
        background-color: #f5f5f5;
   }
    .container{
        padding: 0 !important;
        width: 94%;
        box-shadow: 0px 0 10px 1px gainsboro;
        border-radius: 2px;
        margin: 10px auto;
        border-radius: 7px;
        height: calc(100% - 140px);
        background: #fff;
   }
   .connectoresFlight{
       text-align: center;
   }
   .flexConatiner{
       display: flex;
       justify-content: space-between;
   }
    .subHeader{
        min-height: 31px;
        min-width: 100%;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   }
    .button-clear{
        font-size: 20px;
        margin: 20px 0 !important;
        line-height: 1;
        color: #000;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: normal;
        padding: 0px 0px 0 0 !important;
   }
    .button-clear i{
        font-size: 25px;
        margin:0 10px 0 15px;
        color: #00677f;
        font-weight: lighter;
   }
    .locationDetails{
        background: #2b2825;
        margin: 0px 10px;
        border-radius: 7px;
        font-size: 15px;
        color:#fff;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   }
   .companyConatiner .company{
       padding: 10px 10px 0;
       font-weight: bold;
       display: block;
   
   }
   .visitDetaikls{
        display: inline-block;
        margin: 2px 10px;
   }  
    .locationDetails p .fa{
        margin-right: 8px;
   }
    .sezLocation{
        background-color:#64A70B;
        border-radius: 10px;
        color: #fff;
        padding: 4.5%;
        margin: 10px 10px 0px 10px;
        font-weight: 400;
        font-family: 'Segoe UI';
        font-size: 12px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   }
    .visitingLocationDetails{
        margin-bottom: 1.199%;
        font-size: 14px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   }
    .visitingLocationDetails span{
        font-size: 16px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   }
    .meetingRoomDetails span{
        font-size: 16px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   }
    .meetingRoomDetails{
        padding: 0 !important;
        margin: 0 !important;
        font-size: 14px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   }
    .locationDetails p{
        padding: 10px 0px 0px 10px;
        margin: 0 !important;
        font-size: 17px ;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   }
    .profilesPresenters{
        margin-top: 4.79%;
        float: right;
   }
   .presenterOne{
    border-radius: 50%;
    width: 60px;
    height: 60px;
    
   }
    .daysCount{
        padding-bottom: 10px !important;
        font-size: 13px !important;
        color: #999;
        clear: both;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   }
    .daysCount span{
        color: #fff;
        font-size: 13px !important;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   }
    .routingContainer{
        border-radius:2px;
        margin: 10px 0px 0 0px;
        padding: 0 !important;
   }
    .details{
        padding: 3px 5px 5px 5px;
        height: 34px;
        display: inline-block;
        background: #f5f5f5;
        width: auto;
        border-radius: 25px;
        margin-left: 10px;
   }
    .details.segment .detailsHeader{
        background-color: transparent;
        text-transform: none;
        float: left;
        border: none;
        padding: 1px 10px;
        margin: 1px 3px;
        background: transparent;
        font-size: 15px;
        color: #000;
        line-height:2.3rem;
        max-height: 26px;
        width: auto;
        transition: none;
        opacity: 1;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   }
    .agenda{
        margin: 2px 7.46% 2px 3px!important;
        text-transform: none !important;
        // margin: 0 !important;
        background-color: #64A70B !important;
        border-radius: 20px !important;
        //background: #fff !important;
        font-weight: bold !important;
        color: #fff !important;
        max-height: 28px !important;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   }
    .dynamic{
        color: #01677e !important;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   }
    .agendaList{
        color: #000;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        padding: 0 !important;
        margin: 0 !important;
        border-radius: 0.55px solid #333;
   }
    .ionItem{
        padding:0 15px !important;
        margin: 0 !important;
        border-top:none !important;
        border-bottom:1px solid #c8c7cc !important;
   }
    ion-list.agendaList:last-child .item-block{
        border-bottom: none;
   }
    .list-ios{
        border:none !important;
   }
    .day {
        color: #000;
        font-size: 17px !important;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: normal !important;
        padding:10px 0px 0 0 !important;
        border: none !important;
   }
    .titleTopic{
        // padding-top: 10px;
        color: #2d2926;
        font-weight: 500;
        font-size: 16px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin-bottom: 26px !important;
   }
    .titleTopicLunch{
        // padding-top: 10px;
        color: #2d2926;
        font-weight: 500;
        font-size: 16px;

        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin-bottom: 15px !important;
   }
    .timingLunch{
        margin: 15px 0 0 0 !important;
        padding-bottom: 5px;
        color: #666;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 500;
        font-size: 12px;
        max-height: 106px;
   }
    .timing{
        margin: 26px 0 0 0 !important;
        color: #666;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 500;
        font-size: 14px;

        max-height: 106px;
   }
    .confRoom{
        color: #0099cc;
        font-weight: lighter;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   }
    .lunchBreak{
        background-color: #f5f5f5;
        // min-height: 69px;
        //border: none !important;
        //padding:10px 0 0px 10px;
        border-bottom: 0.55px solid #c8c7cc !important;
   }
    // COMMON AND DEFAULT CSS 
    .scroll-content{
        padding:0px !important;
   }
   .detailsContiner {
       height: calc(100% - 40px);
   }
    .back-button.show-back-button{
        display: none;
   }
    .fa{
        font-size: 20px;
   }
    .details .detailsHeader.segment-activated, .details .detailsHeader.active{
        // margin: 0px 7.46% 0px 3px!important;
        text-transform: none;
        line-height: 22px;
        height: 26px;
        background-color: #00667f;
        border-radius: 20px;
        color: #fff;
        max-height: 26px;
        transition: none;
        display: table-cell;
        vertical-align: middle;
   }
    .label{
        color: #000;
        text-align: left;
        padding: 0 0 0 5px;
        margin: 0;
        max-height: 100%;

   }
    .inner-item{
        border: none !important;
   }
    .list{
        border: none !important;
        margin: 0 !important;
   }
    .item-ios .item-block .item-inner {
        border: none !important;
        padding:0 !important;
        margin: 0 !important;
   }
    .item-block {
        max-width: 100% !important;
        padding: 0;
   }
    .list-ios > .item-block .item-inner {
        padding-right: 0;
   }
    .list-ios > .item-block:first-child {
        border-top: none;
   }
    .list-ios > .item-block .label{
        padding: 0;
   }
    .item-inner{
        border: none !important;
        // padding-bottom: 10px !important;
   }
    .agendaTabs{
        height: 50px;
        width: 100%;
        box-shadow: 0px 0 10px 1px gainsboro;
        border-radius: 7px 7px 0 0;
   }
    .agendaTabs ion-icon{
        font-size: 17px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        width: 48%;
        color: #666;
        padding: 15px 0 13px 14px;
        border-bottom: 2px solid #fff;
        height: 50px;
   }
    .agendaTabs ion-icon i.fa{
        margin-right: 10px;
   }
    .agendaTabs .separator{
        font-size: 17px;
   }
    .agendaTabs ion-icon.active{
        color: #00677f;
        font-weight: bold;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        border-bottom: 2px solid #00677f;
   }
    .itinerary-container {
        padding: 15px 0;
   }
   //Itineary 
   .flightDetails{
       margin-top: 15px;
       border-radius: 9px;
       font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
       background-color: #64A70B;
       color: #fff;
       width: 100%;
   }
   .flight{
       padding-top: 3px;
       margin: 0 !important;
   }
   .flightNumber{
       font-size: 14px;
       font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
       color: #ffffff;
       font-weight: lighter;
       padding-top:15px; 
       margin: 0px 0 20px 10px;
   }
   .flightNumber span{
       font-weight: normal;
       padding-top: 0;
       font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   }
    .connectors{
        padding-top:2px; 
    }
   .source{
       color: #fff;
       font-size: 17px;
       font-weight: 400;
       
         margin-bottom: 10px;
         font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

   }
   .destination{
    color: #fff;
    font-size: 17px;
    font-weight: 400;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   }
   .detailsContainer{
    //    width: 96%;
       margin: 0 10px;
       
   }

.flightTimings{
  width: 100%;
  float: left;
  margin-bottom: 15px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.startingTime{
    width: 34%;
    font-size: 13px;
    color: #e6efde;
    font-weight: normal;
    float: left;
 // padding-bottom: 10px; 
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.reachingTime{
    width: 37%;
    font-size: 13px;
    color: #e6efde;
    font-weight: normal;
    float: right;
    text-align: right;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   
}
.airportAssistancePic{
    width: 60px !important;
    height: 60px !important;
    
}
.avtar{
    margin: 8px 10px 8px 0 !important;
}
.clearfix{
    clear: both;
  
}
.stayDeatils{
    width: 96%;
    background: transparent;
    margin: 0;
    padding: 0;
}
.hotelDetails{
    width: 96%;
    background: transparent;
    margin: 0 0 15px 0;
    padding: 0; 
}
.hotelDetails h2{
    font-size: 17px;
    font-weight: bold;
    color: #000;
    margin: 0 0 10px 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.hotelName{
    color: #666;
    font-weight: 400;
    font-size: 15px;
    margin: 0 0 10px 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.distance{
    color: #666;
    font-weight: 400;
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
.stay {
    margin: 15px 0px 0 0;
    width: 100%;
    border: none;
    background-color: transparent;
}
.stayDeatils{
 width: 100%;
 background-color: transparent;
 //border: 1px solid #000;
 box-shadow: none !important;
}

.hotelPic{
    border-radius: 6px 6px 0 0;
   // margin: 0 0 15px 0;
}
.checkinDetails{
    background-color: gainsboro;
    border-radius:0 0 8px 8px;
    font-size: 13px;
    color: #000;
    font-weight: normal;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 15px 0 15px 0;
    margin: 0 0 15px 0;
}
.checkinDetails1{
    background-color: gainsboro;
    border-radius:0 0 8px 8px;
    font-size: 13px;
    color: #000;
    font-weight: normal;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 15px 10px;
    margin: 0 0 15px 0;
}
.checkinDetails span{
    background-color: gainsboro;
    font-size: 14px;
    color: #000;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.airportTransfer h6{
    color: #000;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    .airportTransfer p{
        color: #666;
        font-size: 14px;
        font-weight: normal;
        margin-bottom: 15px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    .airportMediator{
        box-shadow: none;
        border: none;
        margin: 0;
        padding: 0;
        background: transparent !important;
       
    }
    .airportAsssitance h2{
        font-size: 16px;
        color: #333;
        font-weight: bold;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    .airportAsssitance p{
        font-size: 13px;
        color: #666;
        font-weight: bold;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    .airportTransfer{
        margin: 0 0 5px 0;
    }
    .airportAsssitance{
        width: 100%;
        background: transparent !important;
    }
    .imageHotel{
        border-radius: 6px 6px 0 0;
        background-image: url(../assets/imgs/hotel.JPG);
        width: 100%;
        min-height: 129px;
    }
    .row{
        width: 100%;
    }
    .card-header {
        min-height: 49px;
        background-color: #00667f;
        color: #fff;
        margin:0 0 10px 0;
        padding: 11px 0 0 15px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        
    }
    a:focus, a:hover{
        color: #fff;
        text-decoration: none;
    }
    .accordianPlace{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: #fff;
        font-size: 17px;
        font-weight: 500;
        vertical-align: middle;
    }

    .accordianDate{
        margin-left: 10px;
        font-size: 14px;
    }
    .show{
        background-color: #fff;
        padding: 0 15px;
    }
    .noServices {
        display: block;
        text-align: center;
        padding-top: 45%;
        font-size: 1.5em;
    }
    .noAgendas{
        margin: 15px 0px;
    }
}