page-sessionFeedback{
    .content-ios{
        background-color: #f5f5f5 !important;
    }
  .content-md{
    background-color: #f5f5f5 !important; 
  }
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    .button-clear{
        font-size: 17px;
        margin: 20px  0  10px 0!important;
        line-height: 1;
        color: #000;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: normal;
        padding: 0px 0px 0 0 !important;
    }
    .button-clear i{
        font-size: 22px;
        margin:0 10px 0 10px;
        color: #00677f;
        font-weight: normal;
   }
   .sessionDeatilsConatiner{
       background-color: #ffffff;
    padding: 2px;    
    margin: 0;
     

   }
   .sessionDeatilsConatiner h3{
       padding: 15px 10px;
       font-size: 17px;
       font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
       font-weight: bold;
       color: #000;
       margin: 0;
       border-bottom: 1px solid #f5f5f5;
   }
   .feedbackUl{
       list-style: none;
   }
   .contentQuality{
       margin: 10px;
       background-color: #f5f5f5;
       border-radius: 7px;
       padding: 10px;
       position: relative;
   }

.rangeIndicator
{   margin:10px 10px 0 0px;
    -webkit-appearance: none;
    width: 97%;
    height: 5px;
    border-radius: 5px;   
    // background-color: #C5C5C5;
    //background: -webkit-repeating-linear-gradient(90deg, #777, #777 1px, transparent 1px, transparent 40px) no-repeat 50% 50%;
    background-image:  -webkit-gradient(
       
        linear,
        left top,
        right top,
        color-stop(0,rgb(100, 167, 11)),
        color-stop(0, #C5C5C5)
    );
  //  outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s; 
 
   
}
// .rangeIndicator:hover {
//    // opacity: 1;
// }
.rangeIndicator::-webkit-slider-thumb {
    -webkit-appearance: none;
   
    width: 35px;
    height: 35px;
    border: 0;
   // border-radius: 50%;
    background:url('../assets/imgs/Green.png');
    background-repeat: no-repeat;
    background-size: 35px 35px;
    cursor: pointer;
    

}

.contentQuality p{
    margin: 0px 0 10px 0;
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #666;
    font-weight: 400;
}

.presentationSkills{
    margin: 10px;
    background-color: #f5f5f5;
    border-radius: 7px;
    padding: 10px;
    position: relative;
}
.presentationSkills p{
    margin: 0px 0 10px 0;
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #666;
    font-weight: 400;
}
.serviceSession{
 font-size: 16px;
 color: #333;
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 font-weight: 500;
 padding: 0 10px;


}
.serviceUI{
    list-style: none;
}
.cabService{
    margin: 10px;
    background-color: #f5f5f5;
    border-radius: 7px;
    padding: 10px;
    position: relative;
}
.cabService p{
    margin: 0px 0 10px 0;
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #666;
    font-weight: 400;
}
.hotelService{
    margin: 10px;
    background-color: #f5f5f5;
    border-radius: 7px;
    padding: 10px;
    position: relative;
}
.hotelService p{
    margin: 0px 0 10px 0;
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #666;
    font-weight: 400;
}
.foodService{
    margin: 10px;
    background-color: #f5f5f5;
    border-radius: 7px;
    padding: 10px;
    position: relative;
}
.foodService p{
    margin: 0px 0 10px 0;
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #666;
    font-weight: 400;
}
.overAllFeedback{
    list-style: none;
    background-color: #fff;

    padding: 1px;
    border-radius: 7px;

}
.finalFeedback{
    margin: 10px;
    background-color: #f5f5f5;
    border-radius: 7px;
    padding: 10px;
    position: relative;
}
.finalFeedback p{
    margin: 0px 0 10px 0;
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #666;
    font-weight: 400;
}
.commentSession{
    background-color: #fff;
    margin: 10px 0;
}
.additionalComment{
    color: #000;
    font-size: 15px;
    font-weight: normal;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0 10px;
    width: 100%;

}
.additionalComment span{
    color: #999;
}
.textareaComment {
    width: 95%;
    margin: 0 10px 10px 10px;
    font-size: 14px;
    color: #666;
    border: 0.55px solid #666;
    border-radius: 7px;
    min-height: 100px;
    padding: 5px 5px;
}
.btn-field-org{
    background-color: #fff;
    //margin-top: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 0 0 10px 0 ;
    text-align: center;

}
.btn-field-org .sub, .btn-field-org .can{
    border-radius: 25px;
    font-size: 1em;
    width: 46.5%;
    height: 30px;
    padding-top: 4px;
}
.btn-field-org .sub{
    background-color: #00677f;
    color: #fff;
    margin-right: 1%;
}
.btn-field-org .can{
    border: 1px solid #00677f;
    color: #00677f;
    background-color: #fff;
}
#steplist{
    color: #000;
}
.feedBackContainer{
    width: 100%;
    margin: 0;
    padding: 0;
}
.feedBackContainer img{
    padding-bottom: 20px;
    max-width: 95%;
    margin-left: 5px;
    
}
}