<ion-content>
    <div class="subHeader">
            <p class="button-clear" ng-disabled="clicked" (click)="goBack()">
                <i class="fa fa-angle-left back-arrow" aria-hidden="true"></i>View Feedback
            
            </p>
            <div class="locationDetails" >
            <div class="companyConatiner">
                <span class="company">    {{visitDetails.purpose}} </span>
                <div class="visitDetaikls" *ngFor="let visitDetails of visitDetails.visit_locations; let i =index">
                    {{visitDetails.country}}, {{visitDetails.city}} - {{visitDetails.visitingLocation}}
                </div>
                </div>
            
                <p class="daysCount">
                <i class="fa fa-calendar fa-lg"></i>
                <span>{{visitDetails.startDate | date: "d"}}<sup class="subScript">{{visitDetails.startSuperScript}}</sup> {{visitDetails.startDate | date: "MMM"}} - {{visitDetails.endDate | date: "d"}}<sup class="subScript">{{visitDetails.endSuperScript}}</sup> {{visitDetails.endDate | date: "MMM"}}  </span> | {{visitDetails.noOfDays}} Day(s)
                </p> 
        
            </div>
            </div>
    <ul class="parameter-container" *ngIf="ratings">
        <li class= "parameters">
            <span>  <img src="assets/imgs/content@3x.png"></span>
            <p>Content Quality</p>
            <div [ngClass]="ratings.contentQuality<=5 ? 'less-than-five': ratings.contentQuality>7 ? 'more-than-seven':'five-to-seven' "><i class="fa fa-star" aria-hidden="true">
                
            </i>
                <span>{{ ratings.contentQuality }}</span>/10</div>
        </li>
        <li class= "parameters">
            <span>  <img src="assets/imgs/presentation@3x.png"></span>
            <p>Presentation Skills</p>
            <div [ngClass]="ratings.presentationSkills<=5 ? 'less-than-five': ratings.presentationSkills>7 ? 'more-than-seven':'five-to-seven' "><i class="fa fa-star" aria-hidden="true"></i> <span>{{ratings.presentationSkills}}</span>/10</div>
        </li>
        <li class= "parameters services">
            SERVICES
        </li>
        <li class= "parameters">
            <span>  <img src="assets/imgs/taxicar@3x.png"></span>
            <p>Cab Services</p>
            <div [ngClass]="ratings.cabServices<=5 ? 'less-than-five': ratings.cabServices>7 ? 'more-than-seven':'five-to-seven' "><i class="fa fa-star" aria-hidden="true"></i> <span>{{ratings.cabServices}}</span>/10</div>
        </li>
        <li class= "parameters">
            <span>  <img src="assets/imgs/hotel@3x.png"></span>
            <p>Hotel Services</p>
            <div [ngClass]="ratings.hotelServices<=5 ? 'less-than-five': ratings.hotelServices>7 ? 'more-than-seven':'five-to-seven' "><i class="fa fa-star" aria-hidden="true"></i> <span>{{ratings.hotelServices}}</span>/10</div>
        </li>
        <li class= "parameters">
            <span>  <img src="assets/imgs/food@3x.png"></span>
            <p>Food & Cafe Services</p>
            <div [ngClass]="ratings.fbServices<=5 ? 'less-than-five': ratings.fbServices>7 ? 'more-than-seven':'five-to-seven' "><i class="fa fa-star" aria-hidden="true"></i> <span>{{ratings.fbServices}}</span>/10</div>
        </li>
        <li class= "parameters">
            <span>  <img src="assets/imgs/rating@3x.png"> </span>
            <p>Overall Rating</p>
            <div [ngClass]="ratings.overallRating<=5 ? 'less-than-five': ratings.overallRating>7 ? 'more-than-seven':'five-to-seven' "><i class="fa fa-star" aria-hidden="true"></i> <span>{{ratings.overallRating}}</span>/10</div>
        </li>
    </ul>
</ion-content>